# Python
__pycache__/
*.pyc
*.pyo



# Generated charts & reports
chart_*.png
fin_results.json

# Sample datasheets (copyrighted by manufacturers)
Redren*.pdf
Waaree*.pdf

# IDE
.vscode/
.idea/
*.swp
